# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

# Visual Studio / JetBrains Rider files
.vs/
.idea/
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj

# Crash and build logs
sysinfo.txt
*.stackdump

# Exclude OS files
.DS_Store
Thumbs.db
